.settings-name {
  font-size: 1.5em;
  color: var(--text-color);
}

.wrappar {
  width: 500px;
  margin-top: 1em;
}
.options li,
.select-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btn {
  height: 60px;
  padding: 0 1.3em;
  font-size: 1em;

  justify-content: space-between;
  border-radius: 7px;
  background-color: var(--home-bg-color);
  color: var(--text-color);
  font-weight: 600;
}
.select-btn i {
  font-size: 1.2em;
  transition: transform 0.3s linear;
}
.wrappar.active .select-btn i {
  transform: rotate(-180deg);
}
.set-content {
  display: none;
  margin-top: 15px;
  padding: 2em;
  border-radius: 7px;
  background: var(--home-bg-color);
  color: var(--text-color);
}
.wrappar.active .set-content {
  display: block;
}
.set-content .search {
  position: relative;
}
.search i {
  right: 15px;
  line-height: 53px;
  position: absolute;
  font-size: 1.3em;
}

.search input {
  height: 53px;
  width: 100%;
  font-size: 1em;
  padding: 1em;
  background-color: var(--primary-color);
  outline: none;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  color: var(--text-color);
}
.search input::placeholder {
  color: var(--text-color);
}
.set-content .options {
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
}

.options::-webkit-scrollbar {
  width: 7px;
}
.options::-webkit-scrollbar-track {
  background-color: var(--primary-color);
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 25px;
}
.options li {
  height: 50px;
  border-radius: 5px;
  padding: 0 1.3em;
  font-size: 1.2em;
}
.options li:hover {
  background-color: var(--primary-color);
}
.units ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  color: var(--text-color);
}

.scale .converter {
  font-size: 0.8em;
  background-color: var(--primary-li-color);
  color: var(--text-color);
  border: none;
  padding: 0.6em;
  border-radius: 5px;
}

.dark-mode .mode {
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--text-color);
}
.dark-mode .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}
.dark-mode .mode i {
  position: absolute;
  transition: all 0.3s ease;
}

.dark-mode .mode i.sun {
  opacity: 0;
}

body.dark .dark-mode .mode i.sun {
  opacity: 1;
}
body.dark .dark-mode .mode i.moon {
  opacity: 0;
}
.dark-mode .mode .toggle-switch {
  height: 100%;
  min-width: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
}
.toggle-switch .switch {
  position: relative;
  border-radius: 25px;
  height: 22px;
  width: 44px;
  background-color: var(--toggle-color);
}

.switch::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: 0.3 ease;
  height: 15px;
  width: 15px;
  background-color: var(--sidebar-color);
}

body.dark .switch::before {
  left: 24px;
}

.separator {
  border-top: 1px solid var(--text-color);
}
@media screen and (min-width: 1240px) {
  .settings-content {
    width: 1240px;
  }
}
@media screen and (max-width: 200px) {
  .settings-content {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .settings-content {
    width: 330px;
  }
}

@media screen and (max-width: 920px) {
  .wrappar {
    width: 320px;
    padding: 1em;
  }

  .units {
    width: 100%;
  }

  .units ul {
    list-style: none;
  }
}
